*{
    padding: 0;
    margin: 0;
}

.cabecalho{
    background-color: #cccccc;
    width: 100%;
    text-align: center;
}

._body{
    width: 100%;
    background-color: lightslategray;
    text-align: center;
}
.rodape{
    background-color: cornflowerblue;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

a{
    text-decoration: none;
    color: #000;
}

.menu{
    margin: 2px auto 2px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-spacing: 50px 5px;
   
}

.menu td {
    border: #000 solid 1px;
    width: 150px;
    height: 50px;
    vertical-align: middle;

}

.menu td:hover{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.473);
    transition: .5s;
}

